@{
    ViewData["Title"] = "Gerenciamento de Pedidos";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <h1 class="mb-4 text-center">Gerenciamento de Pedidos</h1>
    <div class="d-flex justify-content-center gap-4">
        <a class="btn btn-primary btn-lg" href="/Customer" target="_blank">>Customers</a>
        <a class="btn btn-success btn-lg" href="/Order" target="_blank">>Orders</a>
        <a class="btn btn-warning btn-lg" href="/Product" target="_blank">>Products</a>
    </div>
</div>